@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .writing-mode-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

.grid-flow-col {
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
  height: 100%;
}